<?php
return [
    'DB_HOST' => 'localhost',
    'DB_PORT' => '3306',
    'DB_NAME' => 'your_hostinger_database_name',
    'DB_USER' => 'your_hostinger_database_user',
    'DB_PASS' => 'your_hostinger_database_password',
    'app_public_url' => 'https://rmclibraryportal.online/librarymanage',
    'app_base_path' => '/librarymanage',
];
